<script>
            var GoogleAnalyticsObject = "ga";

            document.body.appendChild(function () {
                var script = document.createElement("script");
                script.src = "http://www.google-analytics.com/analytics.js";
                script.async = true;
                ga.l =+ new Date;
                return script;
            }());

            ga("create", "UA-51088533-1", "aaditmshah.github.io");
            ga("require", "displayfeatures")
            ga("send", "pageview");

            function ga() {
                (ga.q || (ga.q = [])).push(arguments);
            }
        </script>