<div id="disqus_thread"></div>
            <script>
                var disqus_shortname = "aaditmshah";
                var disqus_title = "{{ page.title }}";
                var disqus_identifier = "{{ page.id }}";
                var disqus_url = "http://aaditmshah.github.com{{ page.url }}";

                document.body.appendChild(function () {
                    var script = document.createElement("script");
                    script.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
                    script.async = true;
                    return script;
                }());

                document.body.appendChild(function () {
                    var script = document.createElement("script");
                    script.src = "http://" + disqus_shortname + ".disqus.com/count.js";
                    script.async = true;
                    return script;
                }());
            </script>