body {
    font-family: "Georgia Pro", Georgia, serif;
    font-size: 18px;
    margin: 1em;
}

header {
    text-align: center;
}

header, nav {
    clear: right;
    float: right;
    width: 20.667em;
}

header h1 {
    margin-top: 0;
}

nav ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: "Franklin ITC Pro Bold", sans-serif;
}

img {
    border: 1em solid #000000;
    border-radius: 1em;
}

#content {
    position: absolute;
}

article {
    width: 40em;
}

a {
    border-bottom: 1px dotted #000000;
    color: #000000;
    text-decoration: none;
}

hgroup h1 {
    margin: 0;
}

hgroup h5 {
    margin-top: 0;
}

article>p:first-of-type:first-letter {
    float: left;
    font-size: 4em;
    padding: 0.125em;
    padding-top: 0.25em;
}

p {
    text-align: justify;
}

li, p {
    line-height: 1.5em;
}

li p {
    margin: 0;
}

code {
    font-family: "Anonymous Pro", monospace;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    padding: 1em;
    width: 50%;
}
